/* GO WILD AND BE CREATIVE! */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: white;
    --orange: #EB5E28;
    --gray: #212529;
    --orange-shadow: #772404;
}

*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--orange);
    margin: 0;
    overflow-x: hidden;
    max-height: 100vh;
}

a{
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

img{
    max-width: 100%;
}

/* first page */
.fpage{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--orange) 35%, var(--gray)35%);
    position: relative;
    overflow-x: hidden;
    padding: 45px 80px;
    overflow-x: hidden;
}

.fpage-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 3vw;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    padding: 12px 0;
    margin-bottom: 15px;
}

nav h1{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}

nav ul{
    display: inline-flex;
    gap: 50px;
}

nav .nav-links{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-links a{
    color: var(--white);
}

.home-page{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0 10em;
}

.home-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}

.home-page .self{
    height: 30vw;
    width: 100%;
    background: var(--orange);
    box-shadow: -4px 0 3px 2px var(--orange-shadow);
}

.self img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-page .leftpos{
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
}

.leftpos .name h2{
    font-style: italic;
    font-size: 40px;
    max-width: 20em;
    font-weight: 275;
    flex-wrap: wrap;
}

.name span{
    font-style: none;
    font-weight: 800;
    font-size: 90px;
    line-height: 60px;
}

.leftpos .position{
    margin-top: 15px;
    background: var(--orange);
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

.position h3{
    font-weight: 500;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3vw;
    margin-top: 25px;
}

.socials a{
    margin-right: 16px;
}

.border-frame{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.border{
    background: var(--white);
    height: 1px;
    width: 100%;
}

.socials .links{
    display: flex;

}

@media only screen and (min-width: 1920px) {    
    .fpage{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .home-page .self{
        width: 70%;
    }

    .leftpos .name h2{
        width: 15em;
        font-size: 50px;
    }

    .name span{
        font-size: 110px
    }

    nav, .position{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 1130px) {
    .home-page .self{
        width: 60%;
    }

    .name h2{
        font-size: 30px;
    }

    .name span{
        font-size: 50px;
    }
}

@media only screen and (max-width: 950px) {
    .home-page .self{
        display: none;
    }

    .leftpos .name h2{
        width: 15em;
        font-size: 50px;
    }

    .name span{
        font-size: 110px
    }
}

@media only screen and (max-width: 800px) {
    .home-page .self{
        display: none;
    }

    .leftpos .name h2{
        width: 15em;
        font-size: 30px;
    }

    .name span{
        font-size: 90px
    }

    nav ul, .border-frame .b{
        display: none;
    }

    nav .border-frame{
        display:flex;
        flex-wrap: wrap;
        width: 85%;
    }

    nav{
        flex-wrap: wrap;
    }

    .socials a{
        display: none;
    }
}

@media only screen and (max-width: 795px) {
    nav h1{
        display: none;
    }

    nav .border-frame{
        width: 100%;
    }
}

@media only screen and (max-width: 690px) {
    .fpage{
        background: linear-gradient(to right, var(--orange) 10%, var(--gray)10%);
        padding: 45px;
    }

    .home-page{
        border: none;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .leftpos .name h2{
        width: 100%;
        font-weight: 275;
        font-size: 30px;
        max-width: 10em;
    }

    .name span{
        font-size: 50px;
        font-weight: 800;
    }

    .position{
        font-size: 15px;
        font-weight: 500;
    }

}

/* second page */

.about{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, var(--orange) 45%, var(--gray)45%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
}

.about .page-title{
    height: 100%;
    width: 50%;
    color: var(--white);
    padding: 45px 80px;
    background: var(--orange);
}

.page-title h2{
    font-family: Karantina;
    text-transform: uppercase;
    font-size: 80px;
    margin:50px 0 0;
}

.page-title p{
    max-width: 50%;
    font-weight: 300;
}

.page-title img{
    margin-top: 30%;
}

.about .about-content{
    width: 60%;
    /* background: linear-gradient(180deg, #212529 0%, #292929 100%); */
    display: flex;
    flex-direction: column;
}

.about .about-line{
    width: 70%;
    border: none;
    height: 1px;
    color: var(--white); 
    background-color: var(--white);
}

.about-content .above-line{
    margin-top: 70px;
}

.about-content .below-line{
    align-self: flex-end;
}

.about .head-about{
    padding: 45px 80px;
}

.head-about h3{
    font-family: Karantina;
    color: var(--orange);
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
}

.head-about p{
    color: var(--white);
    line-height: 30px;
    font-weight: 300;
}

.skill-wrap{
    padding: 45px 80px;
}

.about-content .skill-contain{
    border-radius: 10px;
    background: var(--orange);
    padding: 15px; 
    color: var(--gray);
    box-shadow: 0px 10px 4px 0px #0D0E10;
}

.skill-contain h3{
    text-transform: uppercase;
    font-family: Karantina;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.skill-contain p{
    margin-bottom: 15px;
}

.skill-contain .logo-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    text-transform: uppercase;
}

.logo-wrap .flex-col img{
    width: 30px;
    height: 30px;
}

.flex-col{
    margin-bottom: 15px;
}

.flex-col:hover{
    scale: 1.1;
    transition: 2.2 ease-in;
}

/* third page */
.works{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--orange) 35%, var(--gray)35%);
}

.work-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work-wrapper .work-title{
    height: 100%;
    width: 35%;
    padding: 0 80px;
    padding-top: 45px;
}

.work-title h2{
    font-family: Karantina;
    text-transform: uppercase;
    color: var(--white);
    font-size: 80px;
    margin-top: 50px;
}

.work-title hr{
    border: none;
    height: 1px;
    color: var(--white); 
    background-color: var(--white);
}

.work-contain{
    width: 65%;
    padding: 45px 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 52px;
}

.work-contain .img-contain{
    width: 100%;
    height: 461px;
    position: relative;
}

.img-holder{
    width: 100%;
    height: 100%;
    position: relative;
}

.img-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position:absolute;
    height: 461px;
    width: 100%;
    background: linear-gradient(to bottom, var(--gray), black);
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay:hover{
    opacity: 0.9;
    transition: all 0.2s ease;
}

.overlay h3{
    font-family: Karantina;
    color: var(--orange);
    text-transform: uppercase;
    font-size: 25px;
}

.overlay p{
    color: var(--white);
    line-height: 30px;
    font-weight: 300;
    max-width: 30em;
    text-align: center;
}

.work-contain .work-section{
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: row;
    gap: 11px;
}

/* footer styles */
footer{
    background: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    color: var(--white);
    font-weight: 300;
}

footer .foot-title{
    border: 1px solid var(--orange);
    border-left: none;
    border-right: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 85px;
}

.foot-title h2{
    font-family: Karantina;
    font-size: 30px;
    color: var(--orange);
    font-weight: 400;
}

.foot-title h2 span{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -1px;
}

footer .super-container{
    width: 100%;
    padding: 10px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

 footer .call{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.call .call-contain{
    display: flex;
}

.call-contain img{
    margin-right: 10px;
}

footer .foot-socials{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding-top: 25px;
}

.super-container .credits{
    margin-bottom: 15px;
}