/* GO WILD AND BE CREATIVE! */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: white;
    --orange: #EB5E28;
    --gray: #212529;
    --orange-shadow: #772404;
}

*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--orange);
    margin: 0;
    overflow-x: hidden;
    height: auto;
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

img{
    max-width: 100%;
}

.fpage, .about, .works, footer{
    padding: 45px 80px;
}

.fpage{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--orange) 35%, var(--gray)35%);
}

.fpage-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    padding: 0 0 12px;
}

nav h1{
    align-self: flex-start;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

nav ul{
    display: inline-flex;
    gap: 50px;
}

nav .nav-links{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-links a{
    color: var(--white);
}

.home-page{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-left: 15em;
    padding-right: 50px;
}

.vertical-line{
    height: 95%;
}

.home-page .self{
    height: 400px;
    width: 45%;
    background: var(--orange);
    box-shadow: -4px 0 3px 2px var(--orange-shadow);
}

.self img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-page .leftpos{
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: var(--white);
}

.leftpos .name{
    font-style: italic;
    font-weight: lighter;
    font-size: 40px;
    max-width: 20em;
}

.name span{
    font-style: none;
    font-weight: 800;
    font-size: 100px;
    line-height: 60px;
}

.leftpos .position{
    margin-top: 15px;
    background: var(--orange);
    padding: 10px;
    width: 100%;
    font-size: 25px;
}

.socials{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    justify-content: space-between;
}

.socials a{
    margin-right: 8px;
}

.bottom-line{
    width: 88%;
}

